<h1 class="text-primary m-3">Departamento de Línea Blanca</h1>
<div class="card-columns mb-5 animated fadeIn">
    <div class="card m-1 bg-light border border-secondary rounded p-2" *ngFor="let blanca of ArrayBlanca; let i=index">
      <img src="{{blanca.img}}" class="card-img-top" alt="telefono">
      <div class="card-body">
        <h5 class="card-title">{{blanca.model}}</h5>
        <p class="card-text">${{blanca.price}}</p>
        <p class="card-text">Rating: {{blanca.rating}}</p>
      </div>
      <button (click)="Navegar(getID(i))" [routerLink]="['/producto',getID(i)]" class="btn btn-outline-primary btn-block mb-2">Ver más</button>    </div>
</div>
