<div class="jumbotron animated fadeIn">
    <h1 class="display-4 text-primary">Aplicación web de ecommerce</h1>
    <p class="bg-primary p-3 m-3 text-light">Esta app web consiste en emular la apariencia y navegación en un sitio de ecommerce utilizando angular.</p>
    <br>
    <h2>Estas fueron algunas de las implementaciones usadas para desarrollar esta SPA</h2>
    <ul class="list-group border border-primary">
        <li class="list-group-item">Uso de bootstrap insalado localmente</li>
        <li class="list-group-item">Componentes creados mediante el CLI</li>
        <li class="list-group-item">Rutas parametrizadas</li>
        <li class="list-group-item">Uso del servicio products.service</li>
        <li class="list-group-item">Uso de navbar para navegación dentro de la página</li>
        <li class="list-group-item">Directivas ngFor y ngIf</li>
    </ul>
    <hr class="my-4">
    <a [routerLink]="['/home']" class="btn btn-primary btn-lg"  role="button">Ir a home</a>
  </div>